In [2]:
'''Assignment No 3
python program to a read number n and compute n+nn+nnn+nnnn'''

'Assignment No 3\npython program to a read number n and compute n+nn+nnn+nnnn'

In [ ]:
'''
    n+nn+nnn+nnn
    if user i/p : 2
    2+22+222+2222
    result = 2468
'''

In [46]:
num = int(input("Enter Number :: ")) #get input from user and stored it in variable num

Enter Number :: 2

In [35]:

t=str(num) #typecasting int value to string for concatination

In [36]:
t

'2'

In [37]:
t1=t+t #concatinating to get 'nn'

In [38]:
t1

'22'

In [39]:
t2=t+t+t #concatinating to get 'nnn'

In [40]:
t2

'222'

In [41]:
t3=t+t+t+t #concatinating to get 'nnnn'

In [42]:
t3

'2222'

In [43]:
addition = n + int(t1) + int(t2) + int(t3) #calculating sum of given number by typecasting string into int

In [47]:
print("The value is:",addition) # printing the result

The value is: 2468

In [59]:
#combine program
num = int(input("Enter Number(n) :: "))
t=str(num)
t1=t+t
t2=t+t+t
t3=t+t+t+t
addition = n + int(t1) + int(t2) + int(t3)
print(f"The sum of : {t}+{t1}+{t2}+{t3} is :: ",addition)

Enter Number(n) :: 5
The sum of : 5+55+555+5555 is ::  6167